@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Info de contacto";
}

<div class="text-center">
    <h1 class="display-4">Contactanos</h1>
    <p>
        En caso que prefieras contactarnos vía telefónica puedes hacerlo a los siguientes números:
        PBX: 6352525, Tel: 6328811–6455793 Móvil: 31828811–6455793
    </p>
    <p>
        De lo contrario, te esperamos en nuestra Oficina de Comunicaciones y Atención al Estudiante ubicada 
        en la Calle 9 No. 23-55, en el campus de La Universidad de Investigación y Desarrollo –UDI- en Bucaramanga, Santander – Colombia
    </p>
    <p>
         Recuerda que también puedes escribirnos a webmaster@udi.edu.co
    </p>
</div>
