
@{
    ViewData["Title"] = "RespuestaCorrecta";
}



<div class="jumbotron">
    <div class="col-md-15 text-center">
        <h1 class="display-4">Respuesta Correcta :)</h1>
        <p class="text-primary">Felicitaciones</p>
    </div>

    <form asp-controller="Cuestionario" asp-action="seguirPrueba">
        <div class="col-md-15 text-right">
        <input type="submit" value="Siguiente pregunta" class="btn btn-primary" />
        </div>
    </form>

</div>



